langchain==0.3.7
langchain-community==0.3.7
langchain-huggingface==0.1.2
langchain-groq==0.2.1
chromadb==0.5.23
sentence-transformers==2.7.0
streamlit==1.40.2
pypdf==5.1.0
pymupdf==1.24.14
pytesseract==0.3.13
opencv-python==4.10.0.84
pillow==11.0.0
fpdf2==2.8.1
python-dotenv==1.0.1
groq==0.9.0
httpx==0.27.0
transformers==4.40.0
tokenizers==0.19.1
tf-keras
